body{
  font-family: 'Nova Round', sans-serif;
  font-size: 20px;
  background-image: url(https://images5.alphacoders.com/415/415257.jpg);
}
.container-fluid1{
    text-align: center;
    /*background-image: url(http://i.ebayimg.com/00/s/NDAwWDUwMA==/z/iR4AAOxyx0JTjhQn/$_1.JPG);*/
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px black;
}
.container-fluid{
    text-align: center;
    /*background-image: url(http://i.ebayimg.com/00/s/NDAwWDUwMA==/z/iR4AAOxyx0JTjhQn/$_1.JPG);*/
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px black;
    margin-top: 7%;
}

.menuheader-nav1{
    padding-top: 0;
    margin-right: 20%;
}
.menufooter-nav1{
    padding-top: 45px;
    text-decoration: none;
    margin-right: 170px;
}
a{
    color: #3549e9;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: bisque;
}

.image1{
    width:410px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px black;
}
.image1:hover{
    box-shadow: 4px 4px 10px #3550fa;
}
.container{
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 24%;
}
.imagelogo{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px black;
    height: 180px;
    width: 194px;
}

aside{
    background-image: url(http://i.ebayimg.com/00/s/NDAwWDUwMA==/z/iR4AAOxyx0JTjhQn/$_1.JPG);
    position: absolute;
    left:5%;
    padding-right: 30px;
    border-radius: 10px 10px 10px 10px;
}
h1{
    padding-top: 20px;
    font-family: 'Nosifer', cursive;
    font-style: italic;
    font-size: 60px;
    text-shadow: 2px 2px 4px black;
}
h1 a{
    text-decoration: none;
}

ul{
    margin-top: 20px;
}

ul.liste1 a{
    color: #fff;
}
.liste1{
    list-style:square;
}
.parallax-scroll{
    height: 200px;
    border-radius:
}
