*{
    font-family:fantasy;

}/* l'etoile ou l'asterisque sélectionne tous les éléments de la page html*/
body{
    width: 50%;
}
table{
    border: 3px solid #483d8b;
    border-collapse: collapse;
    width:  90%;
    margin: 25px;
}
thead, tfoot{
    background: #e6e6fa;
    border: 2px solid #6a5acd;
}

tbody{
    border: 1px solid #65d478;
}
th{
    border: 1px solid #6e8749;
    padding: 4px;
    background: #474d58;
    width: 25%;
}
td{
    font-size: 100%;
    border: 1px dotted #6a9887;
    padding: 4px;
    background: #78e456;
}
td:first-child{
    text-align: left;
    background: #14a248;
}
